# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Datenbank
chroma_db_store/

# Dokumente
PDFs_Index/
meine_pdfs/
Daniels_Daten/

# Ordner
Bibliotheken/
chroma_db_store/
flash_attention_env/
flash_attention_windows/
Sicherung 0526/
debug_logs/
PDFs/
pdf/
rag-tutorial-v2/
poppler-24.08.0/

# Logs
*.log

# Umgebungsvariablen
.env 